input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #F5F5F7 inset;
  background-color: #F5F5F7;
  background-image: none;
}

input:-moz-autofill {
  background-color: #F5F5F7;
  background-image: none;
}

input:-ms-autofill {
  background-color: #F5F5F7;
  background-image: none;
}